%tr
  %td= link_to image_tag(post.user.avatar_url), post.user
  %td= link_to post.title, post
  %td= post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%I:%M %p %m/%d/%y")
  - if can? :update, post
    %td= link_to t('posts.edit'), edit_post_path(post)
  - if can? :destroy, post
    %td= link_to t('posts.delete'), post, method: :delete, data: { confirm: 'Are you sure?' }
